[submodule "extern/submodule/googletest/googletest"]
	path = extern/submodule/googletest/googletest
	url = https://github.com/google/googletest.git
[submodule "tutorial/CXX20/geek_time_CXXModern/geek_time_cpp"]
	path = tutorial/CXX20/geek_time_CXXModern/geek_time_cpp
	url = https://github.com/adah1972/geek_time_cpp
